@page "/Account/Manage/Disable2fa"

@using Microsoft.AspNetCore.Identity
@using DecIva.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Desactivar autenticación en dos pasos</PageTitle>

<StatusMessage />
<h3>Desactivar autenticación en dos pasos</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Esta acción solo desactiva la autenticación en dos pasos.</strong>
    </p>
    <p>
        Desactivar 2FA no cambia las claves de su app de autenticación. Si desea cambiar la clave,
        <a href="Account/Manage/ResetAuthenticator">restablezca las claves del autenticador</a>.
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Desactivar 2FA</button>
    </form>
</div>

@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Cannot disable 2FA for user as it's not currently enabled.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Unexpected error occurred disabling 2FA.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' has disabled 2fa.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "La autenticación en dos pasos ha sido desactivada. Puede reactivarla al configurar una app de autenticación.",
            HttpContext);
    }
}
