@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using DecIva.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Restablecer clave del autenticador</PageTitle>

<StatusMessage />
<h3>Restablecer clave del autenticador</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Si restablece la clave del autenticador, su app dejará de funcionar hasta que la reconfigure.</strong>
    </p>
    <p>
        Este proceso desactiva 2FA hasta que verifique su app de autenticación.
        Si no completa la configuración, podría perder el acceso a su cuenta.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Restablecer clave del autenticador</button>
    </form>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' has reset their authentication app key.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "La clave de su app de autenticación ha sido restablecida. Debe configurarla de nuevo con la nueva clave.",
            HttpContext);
    }
}
