@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmación de restablecimiento</PageTitle>

<h1>Confirmación de restablecimiento</h1>
<p>Revise su correo electrónico para restablecer su contraseña.</p>
