@page "/Account/ResetPasswordConfirmation"

<PageTitle>Contraseña restablecida</PageTitle>

<h1>Contraseña restablecida</h1>
<p>Su contraseña ha sido restablecida. <a href="Account/Login">Iniciar sesión</a></p>
